<div class="pageContentWrapper">
    <div class="passwordWrapper">
        <img class="passwordThumbnail" src="../../../assets/images/PoLQ16q1u54HgKy9RxuiB.jpg">
        <div class="passwordTitle">Google</div>
        <img class="passwordCategoryIcon" src="../../../assets/images/PassManagerProfile.png">
        <img class="passwordFavorite" src="../../../assets/images/starEmpty.png">
    </div>
    <div class="passwordWrapper">
        <img class="passwordThumbnail" src="../../../assets/images/PoLQ16q1u54HgKy9RxuiB.jpg">
        <div class="passwordTitle">Google 2</div>
        <img class="passwordCategoryIcon" src="../../../assets/images/PassManagerProfile.png">
        <img class="passwordFavorite" src="../../../assets/images/starEmpty.png">
    </div>
    <div class="passwordWrapper">
        <img class="passwordThumbnail" src="../../../assets/images/PoLQ16q1u54HgKy9RxuiB.jpg">
        <div class="passwordTitle">Google 3</div>
        <img class="passwordCategoryIcon" src="../../../assets/images/PassManagerProfile.png">
        <img class="passwordFavorite" src="../../../assets/images/starEmpty.png">
    </div>
    <div class="passwordWrapper">
        <img class="passwordThumbnail" src="../../../assets/images/PoLQ16q1u54HgKy9RxuiB.jpg">
        <div class="passwordTitle">Google 4</div>
        <img class="passwordCategoryIcon" src="../../../assets/images/PassManagerProfile.png">
        <img class="passwordFavorite" src="../../../assets/images/starEmpty.png">
    </div>
    <div class="passwordWrapper">
        <img class="passwordThumbnail" src="../../../assets/images/PoLQ16q1u54HgKy9RxuiB.jpg">
        <div class="passwordTitle">Google 5</div>
        <img class="passwordCategoryIcon" src="../../../assets/images/PassManagerProfile.png">
        <img class="passwordFavorite" src="../../../assets/images/starEmpty.png">
    </div>
    <div class="passwordWrapper">
        <img class="passwordThumbnail" src="../../../assets/images/PoLQ16q1u54HgKy9RxuiB.jpg">
        <div class="passwordTitle">Google 6</div>
        <img class="passwordCategoryIcon" src="../../../assets/images/PassManagerProfile.png">
        <img class="passwordFavorite" src="../../../assets/images/starEmpty.png">
    </div>
    <div class="passwordWrapper">
        <img class="passwordThumbnail" src="../../../assets/images/PoLQ16q1u54HgKy9RxuiB.jpg">
        <div class="passwordTitle">Google 7</div>
        <img class="passwordCategoryIcon" src="../../../assets/images/PassManagerProfile.png">
        <img class="passwordFavorite" src="../../../assets/images/starEmpty.png">
    </div>
    <!-- <div>test content</div>
    <div>row 2</div> -->
</div>
