/* You can add global styles to this file, and also import other style files */

// makes it so all content is top left by default. Gives more control over styling overall.
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #E2F0FF;
    color: #505050;
}

p {
    margin: 0;
    padding: 0;
}
