<!-- <mat-grid-list cols="5" rowHeight="100%">
    <mat-grid-tile colspan="1" class="test">This is content in A</mat-grid-tile>
    <mat-grid-tile colspan="4">This is content in B</mat-grid-tile>
</mat-grid-list> -->

<div class="pageWrapper">
    <div class="sideNav">
        <div class="usernameWrapper">
            <!--<img class="profilePicture" src="../../../assets/images/profilePicture.jpg">-->
            <img class="profilePicture" [src]="profilePicture">
            <div class="username">{{username}}</div>
        </div>
        <div class="sideNavButton" (click)="showDashboard()"><img class="sideNavButtonImage" src="../../../assets/images/PassManagerLock.png"> <div class="sideNavButtonText">Dashboard</div></div>
        <div class="sideNavButton" (click)="showProfile()"><img class="sideNavButtonImage" src="../../../assets/images/PassManagerProfile.png"> <div class="sideNavButtonText">Profile</div></div>
        <div class="sideNavButton" (click)="showGenerate()"><img class="sideNavButtonImage" src="../../../assets/images/PassManagerManage.png"> <div class="sideNavButtonText">Generate</div></div>
        <div class="sideNavButton" (click)="showSettings()"><img class="sideNavButtonImage" src="../../../assets/images/PassManagerSettings.png"> <div class="sideNavButtonText">Settings</div></div>
        <div class="sideNavButton" (click)="logOut()"><img class="sideNavButtonImage" src="../../../assets/images/PassManagerLogOut.png"> <div class="sideNavButtonText">Log out</div></div>
    </div>
    <div class="pageContent">
        <app-dashboard *ngIf="currentWindow===enum.Dashboard"></app-dashboard>
        <app-profile *ngIf="currentWindow===enum.Profile"></app-profile>
        <app-generate *ngIf="currentWindow===enum.Generate"></app-generate>
        <app-settings *ngIf="currentWindow===enum.Settings"></app-settings>
    </div>
    <div class="version">V1.0.1 ALPHA - Vexarian 2022 - {{currentYear}}</div>
</div>
