.title {
    font-size: 8vw;
    font-weight: bold;
    color: #505050;
    text-align: center;
    padding-top: 100px;
    width: 100%;
    opacity: 1;
    animation: fadein 5s ease-in-out;
}

/* Causes the fadein animation from the title on startup */
@keyframes fadein {
    0% {
        padding-top: 30px;
        opacity: 0;
        padding-bottom: 70px;
    }
    100% {
        padding-top: 100px;
        opacity: 1;
        padding-bottom: 0px;
    }
}

/* The login and register button on the main page */
.mainButton {
    float: left;
    background-color: #A1CFFF;
    color: #505050;
    margin-top: 100px;
    width: 300px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.75);
}

.mainButton:hover {
    background-color: #7dbafa;
    cursor: pointer;
}

/* The bubbles that make up the background on the main page */
.bubble1 {
    position: absolute;
    margin-left: -600px;
    margin-top: -600px;
    width: 800px;
    height: 800px;
    border-radius: 100%;
    border: 125px solid #C9E3FF;
    z-index: -1;
}
.bubble2 {
    position: absolute;
    margin-right: -150px;
    margin-bottom: -250px;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 100px solid #C9E3FF;
    bottom:0;
    right:0;
    z-index: -1;
}
.bubble3 {
    position: absolute;
    margin-right: 400px;
    margin-bottom: -150px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 50px solid #C9E3FF;
    bottom:0;
    right:0;
    z-index: -1;
}