<div *ngIf="!loggedIn">
    <div class="bubbles bubble1"></div>
    <div class="bubbles bubble2"></div>
    <div class="bubbles bubble3"></div>
    <div>
        <div class="title center-align">Passmanager</div>
    </div>
    <div class="buttoncontainer row">
        <div class="mainButton col s3 offset-s2 waves-effect waves-light" (click)="hideComponent()">(debug) Register</div>
        <div class="mainButton col s3 offset-s2 waves-effect waves-light">Login</div>
    </div>
    <div class="version">V1.0.001 BETA - Vexarian 2022 - {{currentYear}}</div>
</div>
<app-app-parent *ngIf="loggedIn"></app-app-parent>
<!-- NOTE: use Sessionstorage to make sure the user stays logged in when refreshing the page. -->